
body{

}
*{
    margin:0;
    padding:0;
    --blue:#00BFFF;
    --orange:#FF5722;
    --black:#2C2C2C;
}
nav{
animation-name: bord;
animation-duration: 1.6s;
animation-timing-function: linear;
animation-iteration-count: 1;
}

#a{
    color: var(--orange) !important;
    border-radius: 20px;
    font-size: 24px !important;

}
#a:hover{
    background-color: var(--orange);
    color: var(--black) !important;
    transition: 0.2s;
    box-shadow: 0px 0px 10px 5px #2C2C2C;
border-radius: 10px;
padding: 9px;

}
.nav-link{
    font-size: 24px !important;
    margin: 10px !important;
    border-radius: 20px;
    color: var(--orange) !important;
}
.nav-link:hover{
    transition: 0.2s;
    
    background-color: var(--orange);
    color: var(--black) !important;
        box-shadow: 0px 0px 10px 5px #2C2C2C;
border-radius: 20px;
}
.btn-outline-success{
     border: #2C2C2C 1px solid !important;
    width: 150px !important;
    color: var(--black) !important;
    font-size: 20px !important;
background-color: var(--orange) !important;
margin-right: 20px;
margin-top: 10px;
}
.btn-outline-success:hover{
    box-shadow: 0px 0px 10px 5px var(--orange) !important;
    border: none !important;
color: var(--black) !important;


}
#wolf{
    color: var(--blue);
}
#img{
    background-color: #2C2C2C;
    height: 410px;
    width: 400px;
    display: flex;
border: 1px solid #2C2C2C;
    justify-content: right;
}
.col-md-7{
    align-self: center;
}
.lead{

    font-family: "Jaro", serif;

}

#para{
    color:black !important;
    font-size: 27px !important;
    font-family: "Jaro", serif;

}
#btn2{
    color: var(--black);
    border:none ;
    border-radius: 7px !important;
    background-color: var(--orange);
}
#navv{
    background-color: var(--black);
    height: 80px;
}
#btn2:hover{
    color: var(--black);
    box-shadow: 0px 0px 10px 2px #FF5722;

    transition: 0.2s;
    background-color: #FF5722;
}
#h1{
font-size: 59px !important;
color: var(--orange) !important;
font-family:"Jaro", serif ;
}
#background{
    background-image: url(https://images7.alphacoders.com/130/1300550.jpg);
    background-size: 100%;
    height: 750px;
}
.img-fluid{
    width: 700px;
    height: 400px !important;
}
.btns{
    display: flex;
justify-content: center;
align-items: flex-end;
margin-left: -740px !important;    
}
.cont{
    display: flex;
height: 600px;
justify-content: center;
}

#card{
    display: flex;
width: 35%;
border-radius: 15px;
    background-color: var(--orange);
    color: #2C2C2C;
    flex-direction: column;
    margin-top: 50px !important;
    height: 600px;

}
.questions{
    align-items: center;
margin-left: 25%;
}
.button1{
    margin-top: 35px;
width: 70%;
height: 55px;
background-color: var(--black);
border: none;
border-radius: 10px;
color: #FF5722;

}
.button1:hover{
    background-color: #2C2C2C;
    color: #00BFFF;
    box-shadow: 0px 0px 10px 0px var(--blue);
transition: 0.2s;
}
.head1{
    height: 60px;
    font-family:"Jaro", serif  ;

    font-size: 40px;
    margin: 20px;
    text-align: center;
}
.giff{
    justify-content: center;
    display: flex;
}

.gif{
    width: 320px;
    height: 220px;
    border-radius: 20px;
    background-color: #f7f7f7;
}
.image12{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    background-color:black;
}
.hide{
    display: none;
}
.h2{
margin-left: 200px;
margin-top: 100px !important;
}
.time{
    display: flex;
    justify-content: center;
}
#nextin{
    background-color: #FF5722;
    margin-left: 50px;
    }
#nextadv{
    background-color: #FF5722;
    margin-left: 50px;
    }
#next{
background-color: #FF5722;
margin-left: 50px;
}
#start{
    background-color: #FF5722;
    margin-right: 50px;
}
#par{
    font-size:70px;
}
/*store*/


    

 




#Comments{
    width: 300px;
}
#af{
    border-radius: 15px;
    color: #ebebeb;
    font-size: 18px;
    padding: 2px;
    margin-top: 5px;
}
#af:hover{
    border-radius: 10px !important;
 background-color: #98b5c2;    font-size: 18px;
    padding: 8px !important;
    transition: 0.2s;

}
h5{
    font-size: 26px
!important;
margin-bottom: 10px  !important;
}
#btn{
    background-color: var(--black);
    color:#f7f7f7;
    border: none;
}
.card-text{
    margin-top: 30px;
}

#btn:hover{
    background-color: var(--orange);
    color: #ebebeb;
    box-shadow: 0 0 20px #2d3640;
}
#info{
color: var(--orange);
font-size: 59px !important;
font-family:"Jaro", serif  ;
}

#nam{
    color: var(--orange);
    font-size: 45px;
}
#body{
background-image: url(gym-background-dr08hyjw70y464su.jpg);
background-repeat: no-repeat;
background-size: 100%;

}
#par{
    color: var(--orange);
}
.name{
    text-align: center;
}
.info{
    margin-top: 20px;
    text-align: center;
   
}
.list{
font-size: 20px !important;
}

#id{
    font-size: 18px !important;
width: 60%;
padding: -20px;
border-radius: 7px !important;
}
/* for make the website responsive*/
@media screen and (max-width:878px) {

  #h1{
    margin-top: -80px !important;
  }
  #btn2{
    border-radius: 10px !important;
  }
    #background{
        background-repeat: no-repeat;
        height: 820px;
background-image: none !important;
width: 107% !important;
background-color: var(--black);
    }
    .cont{
background-color: var(--black);
    }
    #card{
        width: 100%;
        height: 700px !important;
        margin-top: 0px !important;
    }
    .head1{
        font-size: 30px;
    }
    #info{
        font-size: 50px !important;
    }
#nam{
            font-size: 45px !important;
    } .card{
    width: 100% !important;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  #imm{
    height: 600px !important;
    margin-bottom: -40px !important;
  }
    .gif{
        width:90%;
        height: 280px;
    }
    #body{
        background-image: none;
        background-color: var(--black) !important;
    }
    #para{
        margin-bottom: 60px !important;
        color: var(--orange) !important;
        font-size: 22px !important;
    }

}